:root {
    --text-colour: #a8b8ca;
    --background-colour: #282c34
}
.banner {
    background-color: var(--background-colour);
    max-height: 50px;
    max-width: 100%;
    width: 100%-10px;
    border-style: double;
    border-width: 10px;
    border-color: #a9a9a9;
    display: flex;
    justify-content: space-between;
}

.title {
    color: var(--text-colour);
    margin: 5px;
    margin-top: -2px;
    font-size: 4vmin;
}

.user-corner {
    display: flex;
    justify-content: right;
    max-width: 20%;
}

.user-picture {
    max-width: 20%;
}

.user-name {
    user-select: none;
    color: var(--text-colour);
    font-size: 2vmin;
    align-self: center;
}