:root {
    --border-colour: #a9a9a9;
    --text-colour: #a8b8ca;
    --background-colour: #282c34;
    }

.tile {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    width: calc(100%-5px);
    border-width: 5px;
    border-style: double;
    border-color: var(--border-colour);
}

img {
    margin: 10px;
}

.picture {
    max-width: 4vw;
    width: 150px;
    float: left;
}

.option-picture {
    max-width: 3vmin;
    filter: invert(39%) sepia(28%) saturate(317%) hue-rotate(173deg) brightness(89%) contrast(83%);
}

.dummy-div {
    min-width: 10%;
    background-color: green;
}

.name {
    height: 100%;
    font-size: 2vw;
    text-align: center;
    vertical-align:middle;
    user-select: none;
    color: #a8b8ca;
}

.search-div {
    background-color: #282c34;
    width: calc(100%-5px);
    border-width: 5px;
    border-style: double;
    border-color: #a9a9a9;
    display: flex;
    flex-direction: column;
}

.search-label-div {
    width: 100%;
    text-align: center;
    height: 3em

}

.search-label {
    font-size: 2.5vmin;
    margin: -0.1em;
    color: #a8b8ca
}

.search-box-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    
}

.search-box {
    font-size: 1.3vmin;
    color: #a8b8ca;
    background-color: #565f70;
    border-width: 2px;
    max-width: 60%;
    border-style: double;
    border-color: var(--border-colour);
    
}

.search-button {
    font-size: 1.3vmin;
    color: #a8b8ca;
    background-color: #282c34;
    border-width: 2px;
    border-style: double;
    border-color: #a9a9a9;
    max-width: 30%;
}

.pane {
    display: flex;
    flex-direction: column;
    background-color: #13161d;
    border-width: 0px;
    border-style: solid;
    border-color: black;
}

.tab {
    display: flex;
    flex-direction: column;
    height: 100%-2px;
    width: 100%;
    max-width: 500px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-colour);
}

.tab {
    color: var(--text-colour);
    border-style: solid;
    border-radius: 2px;
}

.tab-header {
    width: 100%;
    border-style: double;
    border-radius: 2px;
    text-align: center;
    height: 2.5vh;
}

.update-head-text {
    font-size: 1.5vh;
    margin: 0;
}